<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Add climb</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">
            <i class="icon ion-ios-close-empty"></i>
        </button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            
            <button class="button button-block button-stable" ng-click="modal.hide()">
                <i class="icon ion-ios-plus-empty"></i>
                Add
            </button>
        </div>
    </ion-content>
</ion-modal-view>
