<ion-view view-title="Line {{line.id}} - {{line.type | capitalize:true}}">
  <ion-content>
      <div class="list">    
          <a class="item item-icon-right" ng-repeat="route in routes | limitTo: 3">
              <h2>{{route.color | capitalize:true}} {{route.grade}}</h2>
              <p>Set by {{route.setter}} on {{route.dateSet | date: mediumDate}}</p>
              <img src="img/tim.jpg" style="width: 25px; height: 25px; border-radius: 100%">
              <img src="img/clara.jpg" style="width: 25px; height: 25px; border-radius: 100%">
              
              <i class="icon ion-chevron-right icon-accessory"></i>
          </a>
      </div>
  </ion-content>
</ion-view>
