<ion-view view-title="New User">
  <ion-content>
    <div class="list">
        <div class="item item-divider">Stretch Yourself, try:</div>
        <a class="item item-icon-right">
            Grey 6a, Line 9
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-right">
            Black 6a+, Line 17
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Zhelyo just climbed:</div>
        <a class="item item-icon-right">
            Grey 6a, Line 9
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-right">
            Black 6a+, Line 17
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>