<ion-view view-title="{{route.color | capitalize}} {{route.grade | grade}} on Line {{line.id}}">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <h2 style="float:left; font-size: 20px">Your Recent Climbs</h2>
            </div>
            <div class="item item-icon-right" ng-click="openModal()">
                Add new climb
                <i class="icon ion-ios-plus-empty"></i>
            </div>
            <div class="item" ng-repeat="attempt in attemptList | orderBy: '-date' | limitTo: 3">
                <p>{{attempt.date | date: mediumDate}}</p>
                <p>{{attempt.success | successBool}}</p>
            </div>
            
            <div class="item item-divider">
                <h2 style="float:left; font-size: 20px">Your Friends' Climbs</h2>
            </div>
        </div>
    </ion-content>
</ion-view>