<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Filter routes</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">
            <i class="icon ion-ios-close-empty"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <form class="list">
            <ion-checkbox ng-model="filter.grade.four_plus">
                4+
            </ion-checkbox>
            <ion-checkbox ng-model="filter.grade.five">
                5
            </ion-checkbox>
            <ion-checkbox ng-model="filter.grade.five_plus">
                5+
            </ion-checkbox>
            <ion-checkbox ng-model="filter.grade.six_a">
                6a
            </ion-checkbox>
            
            <ion-checkbox ng-model="filter.completed">
                Include completed routes
            </ion-checkbox>
            <button class="button button-block button-stable" ng-click="modal.hide()">
                <i class="icon ion-funnel"></i>
                Filter
            </button>
            
            {{filter}}
        </form>
    </ion-content>
</ion-modal-view>
